<head>
    <meta charset="utf-8">
    <title>Digital Doctor</title>
    <link rel="stylesheet" type="text/css" href="/loginStyle.css">
  </head>
  <body>
    <h1 id="mainHeader">DIGITAL DOCTOR</h1>
   <div id="centerDiv">
        <h2 id="header2">Log In Here</h2>
        <div id="div1">
            <form id="form1" >
            	
            	<fieldset>
                    <legend>Patient Login</legend>
                	Userame: <input id="patientUserName" type="text" name="text_input"><br>
                    Password: <input id="patientPassword" type="password" name="password_input"><br>
                    <input type="submit" name="button" id="patientLogIn" value="Log In" onclick="logInPatient()">
            	
            	</fieldset>
            </form>
        </div>

        <div id="div2">
            <form id="form1" >
                
                <fieldset>
                <legend>Doctor Login</legend>
                    Userame: <input id="doctorUserName" type="text" name="text_input"><br>
                    Password: <input id="doctorPassword" type="password" name="password_input"><br>
                    Pin#: <input id="doctorPin" type="number" name="numerical_input"><br>
                    <button id="doctorLogIn">Log In</button>

                </fieldset>
            </form>
        </div>
    </div>
     <script src="loginScript.js"></script>
  </body>